# API server
SERVER_PROTOCOL=http://
SERVER_DOMAIN=localhost
# port on the host machine
USE_LISTEN_PORT=81
SERVICE_ACCOUNT_CREDS='Provide service account creds'

# Integration testing variables (Optional)
# TRACING_EXPORT_FORMAT=otlp
# LOGGING_EXPORT_FORMAT=otlp
# TRACING_SERVICE_NAME=unique-name-testing
# LOGGING_SERVICE_NAME=unique-name-testing
# LOGGING_INSTANCE_NAME=unique-name-testing