# API server
SERVER_PROTOCOL=http://
SERVER_DOMAIN=localhost
# port on the host machine
USE_LISTEN_PORT=81
SERVICE_ACCOUNT_CREDS='Provide service account creds'

## Integration testing variables (Optional)
# TRACING_EXPORT_FORMAT=otlp
# LOGGING_EXPORT_FORMAT=otlp
## Other examples: schematic-dev, schematic-prod, schematic-staging
# TRACING_SERVICE_NAME=schematic-unique-name
# LOGGING_SERVICE_NAME=schematic-unique-name