# API server
SERVER_PROTOCOL=http://
SERVER_DOMAIN=localhost
# port on the host machine
USE_LISTEN_PORT=81
SERVICE_ACCOUNT_CREDS='Provide service account creds'

## Opentelemetry configuration variables (Optional)
## Only otlp is supported
# TRACING_EXPORT_FORMAT=otlp
# LOGGING_EXPORT_FORMAT=otlp
# TRACING_SERVICE_NAME=schematic-api
# LOGGING_SERVICE_NAME=schematic-api
## Instance ID is used during integration tests export to identify the git branch
# SERVICE_INSTANCE_ID=schematic-1234
## Other examples: dev, staging, prod
# DEPLOYMENT_ENVIRONMENT=local
# OTEL_EXPORTER_OTLP_ENDPOINT=https://..../telemetry
## Opentelemetry authentication
# TELEMETRY_EXPORTER_CLIENT_ID=...
# TELEMETRY_EXPORTER_CLIENT_SECRET-...
# TELEMETRY_EXPORTER_CLIENT_TOKEN_ENDPOINT=...
# TELEMETRY_EXPORTER_CLIENT_AUDIENCE=...
## Alternative Opentelemetry authentication: Sets a static Authorization header to use for all requests. Used when developing locally
# OTEL_EXPORTER_OTLP_HEADERS=Authorization=Bearer ey...


# Used during integration test run to determine if files will be output for manual
# inspection. These tests cannot fully finish all validation via code. All of these
# tests will be marked by pytest "manual_verification_required"
# More information: https://sagebionetworks.jira.com/wiki/spaces/SCHEM/pages/3055779846/Schematic+API+test+plan 
MANUAL_TEST_VERIFICATION=false

# Used to determine if a local flask instance is created during integration testing. If
# this is true schematic tests will use a schematic API server running outside of the
# context of the integration test. The url used is defined below.
USE_DEPLOYED_SCHEMATIC_API_SERVER=false

# The URL used to execute integration tests for schematic API. Defaults to localhost.
# dev: https://schematic-dev.api.sagebionetworks.org
# staging: https://schematic-staging.api.sagebionetworks.org
# prod: https://schematic.api.sagebionetworks.org
SCHEMATIC_API_SERVER_URL=http://localhost:3001