[tool.poetry]
name = "schematicpy"
version = "22.3.2"
description = "Package for biomedical data model and metadata ingress management"
authors = [
    "Milen Nikolov <milen.nikolov@sagebase.org>",
    "Lingling Peng <lingling.peng@sagebase.org>",
    "Mialy Defelice <mialy.defelice@sagebase.org>",
    "Gianna Jordan <gianna.jordan@sagebase.org>",
    "Bruno Grande <bruno.grande@sagebase.org>",
    "Robert Allaway <robert.allaway@sagebionetworks.org>",
]

readme = "README.md"

homepage = "https://github.com/Sage-Bionetworks/schematic"
repository = "https://github.com/Sage-Bionetworks/schematic"
documentation = "https://github.com/Sage-Bionetworks/schematic"

# Additional keywords: annotation, knowledge graph, ontology, data ingress
keywords = ["schema", "metadata", "validation", "data model", "linked data"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

packages = [
    { include = "schematic" }
]

[tool.poetry.scripts]
schematic = "schematic.__main__:main"


[tool.poetry.dependencies]
python = ">=3.9.0,<3.11"

click = "^8.0.0"
click-log = "^0.4.0"
google-api-python-client = "^2.0.0"
google-auth-httplib2 = "^0.1.0"
google-auth-oauthlib = "^0.8.0"
graphviz = "^0.20.0"
inflection = "^0.5.1"
jsonschema = "^4.0.0"
networkx = ">=2.2.8"
numpy = "^1.21.1"
oauth2client = "^4.1.0"  # Specified because of bug in version ^4.0.0
pandas = "^1.3.1"
pygsheets = "^2.0.4"
PyYAML = "^6.0.0"
rdflib = "^6.0.0"
setuptools = "^66.0.0"
synapseclient = "^2.7.0"
tenacity = "^8.0.1"
toml = "^0.10.2"
Flask = "^2.0.0"
connexion = {extras = ["swagger-ui"], version = "^2.8.0"}
great-expectations = "^0.15.0"
sphinx-click = "^4.0.0"
MarkupSafe = "2.1.0"
itsdangerous = "^2.0.0"
Jinja2 = ">2.11.3"
openpyxl = "^3.0.9"
"backports.zoneinfo" = {markers = "python_version < \"3.9\"", version = "^0.2.1"}
Flask-Cors = "^3.0.10"
pdoc = "^12.2.0"
dateparser = "^1.1.4"
pandarallel = "^1.6.4"
schematic-db = {version = "^0.0.6", extras = ["synapse"]}
pyopenssl = "^23.0.0"
uWSGI = "^2.0.21"


[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
pytest-cov = "^4.0.0"
pytest-mock = "^3.5.1"
flake8 = "^6.0.0"
python-dotenv = "^0.21.0"
black = {version = "^22.6.0", allow-prereleases = true}


[tool.black]
line-length = 88
target-version = ['py37']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs
    | \.git
    | \.venv
    | dist
  )/
)
'''


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--verbose"
testpaths = [
    "tests"
]
filterwarnings = [
    "ignore::DeprecationWarning"
]
markers = [
    """\
    google_credentials_needed: marks tests requiring \
    Google credentials (skipped on GitHub CI) \
    """,
    """\
    schematic_api: marks tests requiring \
    running API locally (skipped on GitHub CI)   
    """,
    """\
    rule_combos: marks tests covering \
    combinations of rules that aren't always necessary \
    and can add significantly to CI runtime (skipped on GitHub CI unless prompted to run in commit message)   
    """,   
    """\
    table_operations: marks tests covering \
    table operations that pass locally \
    but fail on CI due to interactions with Synapse (skipped on GitHub CI)   
    """    
]
