networkx==2.4
rdflib==4.2.2
tabletext==0.1
graphviz==0.8.4
jsonschema==3.2.0
fastjsonschema==2.14.4
orderedset==2.0.1
google-api-python-client==1.7.9
google-auth-httplib2==0.0.3 
google-auth-oauthlib==0.4.0
pandas==1.1.0
pygsheets==2.0.1
inflection==0.3.1
synapseclient==2.1.0
setuptools==41.2.0
pyyaml==5.3.1
matplotlib==3.2.2
