alabaster==0.7.12
attrs==20.3.0
Babel==2.9.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-log==0.3.2
commonmark==0.9.1
coverage==5.4
decorator==4.4.2
Deprecated==1.2.11
docutils==0.16
entrypoints==0.3
google-api-core==1.25.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
graphviz==0.16
httplib2==0.18.1
idna==2.10
imagesize==1.2.0
inflection==0.5.1
iniconfig==1.1.1
isodate==0.6.0
Jinja2==2.11.3
jsonschema==3.2.0
keyring==12.0.2
MarkupSafe==1.1.1
networkx==2.5
numpy==1.19.5
oauth2client==3.0.0
oauthlib==3.1.0
packaging==20.8
pandas==1.2.1
pip==20.3.3
pluggy==0.13.1
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.7.4
pygsheets==2.0.4
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
pytest-cov==2.11.1
pytest-mock==3.5.1
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
rdflib==5.0.0
recommonmark==0.7.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
schematic==0.1.11
schematicpy==0.1.11
setuptools==52.0.0
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
synapseclient==2.2.2
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.3
wrapt==1.12.1
